/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');*/
a:active,
a:link,
a:visited {
  color: #FFF;
  text-decoration: none; }

* {
  font-family: 'Open Sans', sans-serif; }

html,
body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0;
  position: relative; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

/*LAYOUT*/
.pointer {
  cursor: pointer; }

.center-x {
  float: none !important;
  margin: 0 auto; }

.center-all {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }

.btn-site {
  color: #FFF;
  background: #00b597;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 0;
  -webkit-box-shadow: 0px 4px 0px 0px #0f8c7b;
  -moz-box-shadow: 0px 4px 0px 0px #0f8c7b;
  box-shadow: 0px 4px 0px 0px #0f8c7b;
  text-transform: uppercase;
  font-weight: 700; }
  .btn-site:hover {
    color: #FFF; }

main#content {
  padding-top: 85px; }

header#block-header-site {
  width: 100%;
  padding: 20px 0;
  top: 0;
  position: absolute;
  z-index: 500;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s; }
  header#block-header-site .block-logo {
    width: 120px;
    height: 54px;
    background: url("../images/logo-branco.svg") no-repeat top;
    text-indent: -9999px;
    margin-top: 0;
    margin-bottom: 0;
    display: table;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s; }
    header#block-header-site .block-logo:hover {
      opacity: 0.70; }
    @media (max-width: 768px) {
      header#block-header-site .block-logo:hover {
        opacity: 1; } }
  header#block-header-site .menu-mobile {
    display: none;
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 20px;
    font-size: 24px;
    color: #0875aa; }
    header#block-header-site .menu-mobile i {
      font-family: "FontAwesome" !important; }
    @media (max-width: 768px) {
      header#block-header-site .menu-mobile {
        display: inherit; } }
  header#block-header-site.page {
    background: #FFF;
    position: fixed;
    top: inherit;
    -webkit-box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06); }
    header#block-header-site.page nav.menu-site ul li a,
    header#block-header-site.page nav.menu-site ul li span {
      color: #0875aa;
      opacity: 1; }
    header#block-header-site.page .block-logo {
      background: url("../images/logo.svg") no-repeat top; }
  header#block-header-site nav.menu-site ul {
    padding-left: 0;
    list-style: none;
    list-style-position: indent;
    text-align: right;
    margin-top: 15px; }
    header#block-header-site nav.menu-site ul li {
      display: inline-block;
      margin-left: 40px; }
      @media (max-width: 1200px) {
        header#block-header-site nav.menu-site ul li {
          margin: 0 13px; } }
      header#block-header-site nav.menu-site ul li a, header#block-header-site nav.menu-site ul li span {
        cursor: pointer;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 300;
        opacity: 0.85;
        font-size: 14px;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s; }
        header#block-header-site nav.menu-site ul li a:hover, header#block-header-site nav.menu-site ul li span:hover {
          opacity: 1; }
        header#block-header-site nav.menu-site ul li a.underline, header#block-header-site nav.menu-site ul li span.underline {
          font-weight: 700;
          text-decoration: underline !important; }
      @media (max-width: 990px) {
        header#block-header-site nav.menu-site ul li {
          margin: 0 7px; } }
  header#block-header-site nav.menu-site.ativa {
    display: block; }
  @media (max-width: 768px) {
    header#block-header-site nav.menu-site {
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
      display: none; }
      header#block-header-site nav.menu-site ul {
        margin: 0;
        text-align: center; }
      header#block-header-site nav.menu-site ul li {
        display: block;
        margin: 0; }
      header#block-header-site nav.menu-site ul li a,
      header#block-header-site nav.menu-site ul li span {
        width: 100%;
        display: block;
        background: #FFF;
        color: #0875aa !important;
        padding: 10px;
        border-top: 1px solid #EEE;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s; }
        header#block-header-site nav.menu-site ul li a:hover,
        header#block-header-site nav.menu-site ul li span:hover {
          background: #EEE; } }
  @media (max-width: 768px) {
    header#block-header-site {
      background: #FFF;
      position: fixed;
      top: inherit;
      -webkit-box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06);
      -moz-box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06); }
      header#block-header-site nav.menu-site ul li a,
      header#block-header-site nav.menu-site ul li span {
        color: #0875aa;
        opacity: 1; }
      header#block-header-site .block-logo {
        background: url("../images/logo.svg") no-repeat top; } }

header#block-header-site.menu-fixed {
  background: #FFF;
  position: fixed;
  top: inherit;
  -webkit-box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.06); }
  header#block-header-site.menu-fixed nav.menu-site ul li a,
  header#block-header-site.menu-fixed nav.menu-site ul li span {
    color: #0875aa;
    opacity: 1; }
  header#block-header-site.menu-fixed .block-logo {
    background: url("../images/logo.svg") no-repeat top; }

section#home.paciente .btn-site {
  background: #0875aa;
  -webkit-box-shadow: 0px 4px 0px 0px #003649;
  -moz-box-shadow: 0px 4px 0px 0px #003649;
  box-shadow: 0px 4px 0px 0px #003649; }
@media (max-width: 480px) {
  section#home {
    height: 500px !important;
    /*margin-top: 90px;*/ } }
section#home, section#home .owl-carousel, section#home .owl-stage-outer, section#home .owl-stage, section#home .owl-item, section#home .item, section#home .container, section#home .row {
  height: 100%; }
section#home .call-to-action {
  text-align: center;
  margin: auto;
  color: #FFF; }
  section#home .call-to-action h1, section#home .call-to-action h2 {
    font-size: 4.4rem; }
    @media (max-width: 768px) {
      section#home .call-to-action h1, section#home .call-to-action h2 {
        font-size: 3.8rem; } }
    @media (max-width: 480px) {
      section#home .call-to-action h1, section#home .call-to-action h2 {
        font-size: 2.2rem; } }
  section#home .call-to-action h1, section#home .call-to-action h2, section#home .call-to-action p {
    letter-spacing: 0; }
  section#home .call-to-action a.btn-site {
    margin: 30px 0;
    font-size: 2rem; }
    @media (max-width: 480px) {
      section#home .call-to-action a.btn-site {
        padding: 10px 10px;
        font-size: 1.5rem; } }
  section#home .call-to-action span {
    display: block; }
section#home .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -50px; }
section#home .owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 8px;
  opacity: 0.5;
  background: #00b597;
  border-radius: 0; }
section#home .owl-theme .owl-dots .owl-dot.active span {
  background: #FFF; }
section#home .item {
  display: block;
  position: relative; }
  section#home .item .bgSlide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-blend-mode: multiply;
    background-color: #0875aa;
    position: absolute;
    top: 0; }
    section#home .item .bgSlide.first {
      background-blend-mode: normal; }

section#vantagens {
  background: #f8f8f8;
  width: 100%; }
  @media (max-width: 768px) {
    section#vantagens {
      padding: 100px 0; } }
  section#vantagens,
  section#vantagens .owl-carousel,
  section#vantagens .owl-stage-outer,
  section#vantagens .owl-stage,
  section#vantagens .owl-item,
  section#vantagens .item,
  section#vantagens .container,
  section#vantagens .row {
    height: 100%; }
    @media (max-width: 768px) {
      section#vantagens,
      section#vantagens .owl-carousel,
      section#vantagens .owl-stage-outer,
      section#vantagens .owl-stage,
      section#vantagens .owl-item,
      section#vantagens .item,
      section#vantagens .container,
      section#vantagens .row {
        height: auto; } }
  section#vantagens .owl-item img {
    width: auto;
    display: block;
    margin: 0 auto; }
  section#vantagens article.content {
    text-align: center; }
    section#vantagens article.content h3 {
      color: #00b597;
      font-weight: 700;
      margin-bottom: 50px; }
    section#vantagens article.content p {
      color: #0875aa;
      margin-top: 50px;
      font-size: 16px; }
    section#vantagens article.content img {
      transition: 0.8s;
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -o-transition: 0.8s;
      /*cursor: pointer;*/ }
    section#vantagens article.content img:hover {
      opacity: 0.5; }
  section#vantagens .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -50px; }
  section#vantagens .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 8px;
    opacity: 0.5;
    background: #0875aa;
    border-radius: 0; }
  section#vantagens .owl-theme .owl-dots .owl-dot.active span {
    background: #00b597; }
  section#vantagens .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -30px; }
    @media (max-width: 768px) {
      section#vantagens .owl-theme .owl-nav.disabled + .owl-dots {
        margin-top: 20px; } }
  @media (max-width: 543px) {
    section#vantagens .btn-site {
      padding: 10px; } }

section#vantagens2 {
  width: 100%;
  padding: 70px 0;
  display: none;
  background: #00b597;
  color: #FFF; }
  @media (max-width: 768px) {
    section#vantagens2 {
      padding-top: 120px;
      padding-bottom: 30px; } }
  section#vantagens2, section#vantagens2 .container {
    height: auto; }
    @media (max-width: 768px) {
      section#vantagens2, section#vantagens2 .container {
        height: auto; } }
  section#vantagens2 header {
    text-align: center;
    margin-bottom: 80px; }
    section#vantagens2 header h2,
    section#vantagens2 header h2 a {
      font-weight: 700;
      color: #0875aa !important; }
  section#vantagens2 article {
    width: 100%; }

section#especialidades {
  background: #0875aa;
  padding: 70px 0;
  color: #FFF; }
  section#especialidades header {
    text-align: center;
    /*margin-bottom: 30px;*/ }
  section#especialidades h4 {
    font-size: 28px;
    line-height: auto;
    margin-bottom: 0; }
  section#especialidades .list-specials ul {
    list-style: url("../images/list_style1.png");
    margin-top: 0;
    display: none;
    margin-bottom: 0; }
    @media (max-width: 768px) {
      section#especialidades .list-specials ul {
        padding-left: 40px; } }
  section#especialidades .list-specials ul li {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 7px;
    color: #7caec3; }

section#planos {
  background-size: cover;
  width: 100%; }
  section#planos,
  section#planos .owl-carousel,
  section#planos .owl-stage-outer,
  section#planos .owl-stage,
  section#planos .owl-item,
  section#planos .item,
  section#planos .container,
  section#planos .row {
    height: auto; }
    @media (max-width: 1200px) {
      section#planos,
      section#planos .owl-carousel,
      section#planos .owl-stage-outer,
      section#planos .owl-stage,
      section#planos .owl-item,
      section#planos .item,
      section#planos .container,
      section#planos .row {
        height: auto; } }
  section#planos .living-blocks {
    display: none; }
  section#planos .plano1 .item h4 {
    color: #0875aa; }
  section#planos span.hide {
    display: block;
    cursor: pointer;
    padding-bottom: 50px; }
  section#planos .owl-item img {
    width: auto;
    display: block;
    margin: 0 auto; }
  section#planos .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px; }
  section#planos .owl-theme .owl-dots .owl-dot.active span {
    opacity: 1; }
  section#planos .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 8px;
    opacity: 0.5;
    background: #0875aa;
    border-radius: 0; }
  section#planos .plan-block {
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s; }
  section#planos .plan-block header {
    padding: 50px;
    display: block;
    cursor: pointer; }
    section#planos .plan-block header h3 {
      margin-top: 0; }
    section#planos .plan-block header p {
      margin-bottom: 0; }
    @media (max-width: 543px) {
      section#planos .plan-block header {
        padding: 25px; } }
  section#planos .plano1 {
    background: #FFFFFF;
    color: #0875aa; }
    section#planos .plano1 .item {
      color: #FFF; }
    section#planos .plano1 .living-blocks .block-link {
      background: #00b597;
      color: #FFF; }
  section#planos .plano2 {
    background: #0f8c7b;
    color: #FFF; }
  section#planos .plano3 {
    background: #0875aa;
    color: #FFF; }
    section#planos .plano3 .living-blocks .block-content {
      background: #0f8c7b; }
  section#planos .plano4 {
    background: #003649;
    color: #FFF; }
    section#planos .plano4 .living-blocks .block-content {
      background: #00b597; }
  section#planos h3 {
    font-weight: 700;
    margin-bottom: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s; }
    section#planos h3.destaque:before {
      content: "Sua melhor escolha";
      display: block;
      max-width: 250px;
      background: #0f8c7b;
      font-size: 18px;
      padding: 5px 10px;
      margin: 0 auto;
      margin-bottom: 20px;
      text-transform: uppercase; }
  section#planos .content-livings {
    display: none; }
  section#planos .living-blocks {
    opacity: 1;
    display: block;
    padding-left: 0;
    position: relative;
    padding-bottom: 50px;
    height: auto;
    @transicao (1s); }
    section#planos .living-blocks .block-content ul {
      list-style: none;
      padding-left: 0; }
    section#planos .living-blocks .block-content ul li p {
      margin-bottom: 5px; }
    section#planos .living-blocks .block:hover .block-content:after {
      background: transparent; }
    section#planos .living-blocks .block:hover .block-link:after {
      background: transparent; }
    section#planos .living-blocks .block.active .block-content:after {
      background: transparent; }
    section#planos .living-blocks .block.active .block-link:after {
      background: transparent; }
    section#planos .living-blocks .block-content {
      background: #0875aa;
      padding: 30px;
      position: relative;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s; }
      section#planos .living-blocks .block-content:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s; }
        @media (max-width: 768px) {
          section#planos .living-blocks .block-content:after {
            background: transparent; } }
      section#planos .living-blocks .block-content p {
        font-size: 14px; }
        section#planos .living-blocks .block-content p span {
          font-weight: 700;
          font-size: 24px; }
    section#planos .living-blocks h4 {
      text-transform: uppercase;
      font-weight: 700; }
      @media (max-width: 543px) {
        section#planos .living-blocks h4 {
          width: 100%;
          padding: 10px; } }
    section#planos .living-blocks .block-link {
      width: 100%;
      margin-top: 5px;
      display: block;
      background: #FFF;
      cursor: pointer;
      color: #0875aa;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700;
      font-size: 24px;
      position: relative;
      padding: 10px; }
      section#planos .living-blocks .block-link:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s; }
        @media (max-width: 768px) {
          section#planos .living-blocks .block-link:after {
            background: transparent; } }

section#call-to-action_30days {
  width: 100%;
  background: url("../images/30days-background.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 75px; }
  section#call-to-action_30days h3 {
    font-weight: 700;
    margin-bottom: 35px; }
  section#call-to-action_30days h3 span, section#call-to-action_30days p span {
    color: #00b597;
    font-weight: 700; }
  section#call-to-action_30days h3, section#call-to-action_30days p {
    color: #0875aa; }
  section#call-to-action_30days p {
    margin-bottom: 100px; }
  @media (max-width: 543px) {
    section#call-to-action_30days h3 {
      margin: 50px 0; } }

footer#block-footer-site {
  background: #0875aa;
  padding: 50px 0;
  width: 100%;
  line-height: 33px;
  position: relative;
  font-size: 15px; }
  footer#block-footer-site, footer#block-footer-site a {
    color: #FFF; }
  footer#block-footer-site .logo-footer {
    width: 160px;
    height: 40px;
    display: block;
    background: url("../images/logo-footer.svg") no-repeat top;
    text-indent: -9999px;
    margin: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s; }
    footer#block-footer-site .logo-footer:hover {
      opacity: 0.70; }
  footer#block-footer-site p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0; }
  footer#block-footer-site .icones {
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px; }
    @media (max-width: 1200px) {
      footer#block-footer-site .icones {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px; } }
  footer#block-footer-site a.social-link {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s; }
    footer#block-footer-site a.social-link:hover {
      opacity: 0.75; }
  footer#block-footer-site a.face {
    background: url("../images/sprites.png") no-repeat 0px -96px; }
  footer#block-footer-site a.insta {
    background: url("../images/sprites.png") no-repeat -31px -96px; }
  footer#block-footer-site .bloco-endereco:before {
    display: block;
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    left: -30px;
    background: url("../images/sprites.png") no-repeat 0px -165px; }
  footer#block-footer-site .bloco-telefone:before {
    display: block;
    content: "";
    width: 34px;
    height: 35px;
    position: absolute;
    left: -30px;
    background: url("../images/sprites.png") no-repeat -34px -165px; }
  footer#block-footer-site .bloco-horario:before {
    display: block;
    content: "";
    width: 35px;
    height: 32px;
    position: absolute;
    left: -30px;
    background: url("../images/sprites.png") no-repeat -66px -167px; }
  footer#block-footer-site .infos {
    margin-left: 50px; }
  @media (max-width: 990px) {
    footer#block-footer-site .logo-footer {
      margin: 0 auto;
      margin-bottom: 20px; } }
  @media (max-width: 768px) {
    footer#block-footer-site .infos {
      margin-left: 0px; } }
  @media (max-width: 543px) {
    footer#block-footer-site {
      padding: 30px 0; }
      footer#block-footer-site .bloco-horario,
      footer#block-footer-site .bloco-telefone,
      footer#block-footer-site .bloco-endereco {
        text-align: center;
        margin-bottom: 20px; }
        footer#block-footer-site .bloco-horario:before,
        footer#block-footer-site .bloco-telefone:before,
        footer#block-footer-site .bloco-endereco:before {
          display: none; } }

.sub-footer {
  background: #003649;
  text-align: center;
  padding: 10px 0;
  color: #FFF;
  font-size: 12px; }
  .sub-footer p {
    margin-bottom: 0 !important; }
  .sub-footer a:hover {
    color: #00b597; }

#boxcontato,
#boxplanos {
  display: none;
  max-width: 500px; }
  #boxcontato h1, #boxcontato h2, #boxcontato h3, #boxcontato h4, #boxcontato h5, #boxcontato h6,
  #boxplanos h1,
  #boxplanos h2,
  #boxplanos h3,
  #boxplanos h4,
  #boxplanos h5,
  #boxplanos h6 {
    font-weight: 700;
    text-align: center;
    color: #00b597;
    margin-bottom: 40px; }

#boxdoutor {
  text-align: left;
  display: none;
  max-width: 700px; }
  #boxdoutor .btn {
    background: #0875aa;
    color: #FFF;
    outline: none; }
  #boxdoutor .name {
    font-size: 24px;
    color: #333; }
  #boxdoutor .espec {
    color: #0875aa; }
    #boxdoutor .espec ul:after {
      content: "";
      clear: both;
      display: block; }
    #boxdoutor .espec ul {
      padding-left: 0; }
    #boxdoutor .espec ul li {
      list-style: none;
      float: left;
      margin-right: 10px; }
  #boxdoutor h1, #boxdoutor h3, #boxdoutor h3, #boxdoutor h4, #boxdoutor h5, #boxdoutor h6 {
    font-size: 18px; }
  @media (max-width: 768px) {
    #boxdoutor .espec {
      margin-top: 20px; } }

form {
  width: 100%; }

form .btn-site {
  box-shadow: none; }

form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #DDD; }

form input,
form button {
  width: 100%; }

.box-contato input, .box-contato .resposta {
  text-align: center; }
.box-contato button {
  display: block; }

.resposta {
  margin: 10px 0;
  text-align: center; }

.resposta.alert {
  padding: 10px; }

.content-page,
.content-post,
.sidebar-site {
  padding-bottom: 30px; }
  .content-page h1,
  .content-post h1,
  .sidebar-site h1 {
    margin-bottom: 20px; }
  .content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6,
  .content-post h1,
  .content-post h2,
  .content-post h3,
  .content-post h4,
  .content-post h5,
  .content-post h6,
  .sidebar-site h1,
  .sidebar-site h2,
  .sidebar-site h3,
  .sidebar-site h4,
  .sidebar-site h5,
  .sidebar-site h6 {
    font-weight: 300; }
  .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6,
  .content-post h2,
  .content-post h3,
  .content-post h4,
  .content-post h5,
  .content-post h6,
  .sidebar-site h2,
  .sidebar-site h3,
  .sidebar-site h4,
  .sidebar-site h5,
  .sidebar-site h6 {
    color: #00b597; }
  .content-page p,
  .content-post p,
  .sidebar-site p {
    letter-spacing: 0;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300; }
  .content-page ol, .content-page ul,
  .content-post ol,
  .content-post ul,
  .sidebar-site ol,
  .sidebar-site ul {
    padding-left: 0;
    list-style-position: inside; }

@media (max-width: 768px) {
  .content-page {
    padding-left: 10px;
    padding-right: 10px; } }
.content-page .single-post {
  margin-bottom: 40px;
  /*-webkit-box-shadow: 0px 10px 12px -8px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 10px 12px -8px rgba(0,0,0,0.25);
  box-shadow: 0px 10px 12px -8px rgba(0,0,0,0.25);*/
  padding-bottom: 40px;
  border-bottom: 1px solid #EEE;
  box-sizing: border-box; }
  .content-page .single-post:hover .post-thumbnail {
    opacity: 0.5; }
.content-page .post-content {
  padding: 0 30px;
  min-height: 275px; }
  @media (max-width: 990px) {
    .content-page .post-content {
      padding: 30px 0; } }
  .content-page .post-content h2 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0; }
  .content-page .post-content h2 a {
    color: #00b597 !important; }
  .content-page .post-content .read-more {
    color: #0875aa;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s; }
    .content-page .post-content .read-more:hover {
      color: #003649; }
.content-page .post-thumbnail {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  opacity: 1;
  background-size: cover;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s; }
  .content-page .post-thumbnail img {
    max-width: 100%;
    height: auto; }

.content-post {
  /*@media (max-width: 480px) {
  	h1 {font-size: 2rem;}
  	h2 {font-size: 1.75rem;}
  	h3 {font-size: 1.5rem}
  	h4 {font-size: 1.25rem;}
  }*/ }
  .content-post a {
    color: #0875aa; }

.vantagens_page {
  background: #00b597;
  color: #FFF; }
  .vantagens_page section {
    margin: 70px 0;
    height: auto;
    display: block; }
  .vantagens_page h1 {
    display: block;
    text-align: center;
    font-weight: 700; }

.vantagens_page .breadcrumbs,
.advantage-featured .breadcrumbs,
.featured-content .breadcrumbs {
  border-bottom: 0 !important;
  text-align: center; }
  .vantagens_page .breadcrumbs a, .vantagens_page .breadcrumbs span,
  .advantage-featured .breadcrumbs a,
  .advantage-featured .breadcrumbs span,
  .featured-content .breadcrumbs a,
  .featured-content .breadcrumbs span {
    color: #FFF; }
  .vantagens_page .breadcrumbs .current,
  .vantagens_page .breadcrumbs .breadcrumb_last,
  .advantage-featured .breadcrumbs .current,
  .advantage-featured .breadcrumbs .breadcrumb_last,
  .featured-content .breadcrumbs .current,
  .featured-content .breadcrumbs .breadcrumb_last {
    color: #FFF !important; }

.advantage-featured {
  width: 100%;
  background: #00b597; }
  .advantage-featured header.content-page {
    text-align: center;
    width: 100%;
    background-color: #0875aa;
    position: relative; }
    .advantage-featured header.content-page .featured-image {
      float: left;
      width: 100%;
      opacity: 0.2; }
      .advantage-featured header.content-page .featured-image img {
        max-width: 100%; }
    .advantage-featured header.content-page .featured-content {
      padding-top: 100px;
      /*
      	margin-top: -150px;
      	@media (max-width: 768px) {
      		margin-top: -100px;
      	}*/ }
      @media (max-width: 768px) {
        .advantage-featured header.content-page .featured-content {
          padding-top: 50px; } }
  .advantage-featured header.content-page h1 {
    color: #FFFFFF;
    font-size: 2.5rem; }
  .advantage-featured header.content-page p {
    color: #FFF;
    font-size: 18px;
    margin-top: 40px; }
  .advantage-featured section.content-page {
    background: #00b597;
    color: #FFFFFF; }

.list-vantagens ul {
  list-style: none;
  padding-left: 0;
  margin-top: 50px; }
.list-vantagens ul li {
  vertical-align: middle;
  margin-bottom: 80px;
  display: block;
  height: 60px; }
  .list-vantagens ul li h4 {
    display: block;
    color: #FFFFFF;
    font-size: 16px; }
  .list-vantagens ul li p {
    color: #FFF;
    font-size: 13px;
    display: block; }
  .list-vantagens ul li:after {
    content: "";
    display: block;
    clear: both; }
.list-vantagens.home h4 {
  font-size: 16px;
  line-height: 60px; }
.list-vantagens.home ul li {
  margin-bottom: 20px; }
.list-vantagens .image-item {
  display: inline-block;
  min-height: 100%; }
.list-vantagens .col-left {
  text-align: right; }
  .list-vantagens .col-left .image-item {
    margin-left: 0px;
    float: right; }
.list-vantagens .col-right {
  text-align: left; }
  .list-vantagens .col-right .image-item {
    margin-right: 0px; }
@media (max-width: 990px) {
  .list-vantagens.home h4 {
    line-height: inherit; }
  .list-vantagens ul li {
    min-height: 90px; } }
@media (max-width: 768px) {
  .list-vantagens .image-item {
    float: left !important;
    margin-left: 0 !important;
    margin-right: 0px; }
  .list-vantagens .col-left {
    text-align: left;
    margin-left: 0;
    margin-right: 0px; }
  .list-vantagens ul li {
    min-height: inherit;
    height: auto;
    margin-bottom: 20px; } }
@media (max-width: 543px) {
  .list-vantagens {
    font-size: 13px; } }

.full-width-thumbnail,
#map_contato,
#map_contato iframe {
  width: 100%;
  height: 400px;
  display: block;
  background-size: cover; }
  @media (max-width: 990px) {
    .full-width-thumbnail,
    #map_contato,
    #map_contato iframe {
      height: 300px; } }
  @media (max-width: 768px) {
    .full-width-thumbnail,
    #map_contato,
    #map_contato iframe {
      height: 220px; } }
  @media (max-width: 543px) {
    .full-width-thumbnail,
    #map_contato,
    #map_contato iframe {
      height: 150px; } }

.bgParallax {
  background-repeat: repeat !important;
  background-attachment: fixed !important; }
  @media (max-width: 768px) {
    .bgParallax {
      background-attachment: inherit !important; } }

.customize-support header#block-header-site.menu-fixed, .customize-support header#block-header-site.page {
  top: 32px; }
@media (max-width: 768px) {
  .customize-support header#block-header-site {
    top: 45px; } }

@media (max-width: 768px) {
  .customize-support header#block-header-site nav.menu-site {
    top: 135px !important; } }
.customize-support main#content {
  padding-top: 79px; }

.page-template-page_vantagens main#content {
  padding-top: 0; }
  @media (max-width: 768px) {
    .page-template-page_vantagens main#content {
      padding-top: 75px; } }

@media (max-width: 600px) {
  #wpadminbar {
    position: fixed !important; } }

.breadcrumbs {
  font-size: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEE;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block; }
  .breadcrumbs p {
    margin-right: 15px;
    margin-bottom: 0 !important; }
  .breadcrumbs a {
    color: #555;
    margin-right: 10px; }
  .breadcrumbs .delimiter {
    margin-right: 10px; }
  .breadcrumbs .current,
  .breadcrumbs .breadcrumb_last {
    color: #0875aa; }
  .breadcrumbs p, .breadcrumbs:after {
    clear: both;
    content: "";
    display: block; }
  @media (max-width: 543px) {
    .breadcrumbs {
      font-size: 12px;
      margin-top: 10px;
      padding-bottom: 10px; }
      .breadcrumbs > p {
        display: none; } }

.banner-page {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-repeat: none; }

.sidebar-site > div {
  margin-bottom: 20px; }
.sidebar-site a {
  color: #000;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s; }
  .sidebar-site a:hover {
    color: #0875aa !important; }
.sidebar-site ul {
  list-style-image: url("../images/list_style2.png");
  list-style-position: inside; }
.sidebar-site ul li {
  border-bottom: 1px solid #EEE;
  margin-bottom: 10px;
  padding-bottom: 10px; }
.sidebar-site h4 {
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  text-align: center; }
.sidebar-site #searchform input[type="submit"] {
  background: #00b597;
  color: #FFF;
  border: 0; }
  .sidebar-site #searchform input[type="submit"]:hover {
    background: #0f8c7b; }

.date {
  color: #CCC;
  font-size: 12px;
  margin-bottom: 5px; }

.top-box-newsletter {
  background: #FFF;
  display: block;
  padding: 30px;
  margin-top: -150px;
  margin-bottom: 50px; }
  .top-box-newsletter i,
  .top-box-newsletter p {
    font-size: 18px;
    color: #555555;
    margin-bottom: 0;
    float: left;
    display: inherit;
    max-width: 180px; }
  .top-box-newsletter .content-form {
    margin-top: 10px; }
  .top-box-newsletter i {
    font-size: 3.5rem;
    margin-right: 10px;
    color: #DDD; }
  @media (max-width: 1200px) {
    .top-box-newsletter p {
      font-size: 14px;
      margin-top: 5px;
      max-width: 130px; }
    .top-box-newsletter i {
      font-size: 3rem; } }
  @media (max-width: 990px) {
    .top-box-newsletter i {
      display: none; } }
  @media (max-width: 768px) {
    .top-box-newsletter {
      margin-top: 0;
      margin-bottom: 10px;
      padding: 30px 0; }
      .top-box-newsletter p {
        max-width: 100%; } }
  @media (max-width: 543px) {
    .top-box-newsletter {
      padding: 10px; }
      .top-box-newsletter p {
        font-size: 16px;
        margin-bottom: 15px; } }

#homesite {
  height: 100%; }
  #homesite .container-fluid,
  #homesite .row {
    height: 100%; }
  #homesite .col-medico,
  #homesite .col-paciente {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s; }
    #homesite .col-medico:hover,
    #homesite .col-paciente:hover {
      opacity: 0.75; }
    @media (max-width: 767px) {
      #homesite .col-medico,
      #homesite .col-paciente {
        height: 350px; }
        #homesite .col-medico .center-all,
        #homesite .col-paciente .center-all {
          display: block;
          align-items: inherit;
          height: auto; }
        #homesite .col-medico figure,
        #homesite .col-paciente figure {
          text-align: center; } }
  #homesite .col-medico {
    background: url("../images/home-medicos.jpg") no-repeat center top;
    background-size: cover; }
    @media (max-width: 767px) {
      #homesite .col-medico figure {
        margin-top: 60px; } }
  #homesite .col-paciente {
    background: url("../images/home-paciente.jpg") no-repeat center top;
    background-size: cover; }
    @media (max-width: 767px) {
      #homesite .col-paciente figure {
        margin-top: 160px; } }
  #homesite figure h2, #homesite figure h3 {
    margin: 0;
    display: block;
    font-weight: 700;
    text-transform: uppercase; }
  #homesite figure h2 {
    font-size: 36px; }
  #homesite figure h3 {
    font-size: 24px; }
  #homesite figure p {
    margin-top: 20px;
    font-size: 16px; }
  #homesite .col-medico .col-md-5.pull-right {
    margin-right: 19%; }
    @media (max-width: 991px) {
      #homesite .col-medico .col-md-5.pull-right {
        margin-right: 0;
        padding-right: 20%; } }
    @media (max-width: 767px) {
      #homesite .col-medico .col-md-5.pull-right {
        padding-right: 15px;
        float: left;
        width: 100%; } }

.menu-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -133px;
  z-index: 500; }
  @media (max-width: 768px) {
    .menu-wrapper {
      top: 350px; } }
  .menu-wrapper .box-menu {
    width: 250px;
    padding: 30px;
    background: #FFF; }
    .menu-wrapper .box-menu ul {
      list-style: none;
      list-style-position: inside;
      padding-left: 0;
      text-align: center; }
      .menu-wrapper .box-menu ul li {
        margin: 7px 0; }
      .menu-wrapper .box-menu ul li a,
      .menu-wrapper .box-menu ul li span {
        text-transform: uppercase;
        color: #0875aa;
        cursor: pointer;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s; }
      .menu-wrapper .box-menu ul li a:hover,
      .menu-wrapper .box-menu ul li span:hover {
        color: #00b597; }
  .menu-wrapper .logo-home {
    width: 160px;
    height: 40px;
    display: block;
    background: url("../images/logo.svg") no-repeat top;
    text-indent: -9999px;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s; }
    .menu-wrapper .logo-home:hover {
      opacity: 0.70; }

#related-posts .related-post {
  margin-top: 20px; }

.navigation:after {
  content: "";
  clear: both; }
.navigation span,
.navigation a {
  margin-right: 5px;
  color: #999;
  padding-left: 5px;
  min-width: 20px;
  text-align: center;
  padding-bottom: 10px;
  float: left;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s; }
  .navigation span:after,
  .navigation a:after {
    margin-top: 5px;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #00b597;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s; }
  .navigation span:hover:after,
  .navigation a:hover:after {
    width: 100%; }
.navigation .current,
.navigation a:hover {
  color: #00b597; }
  .navigation .current:after,
  .navigation a:hover:after {
    width: 100%; }

.tags {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #EEE; }

.author {
  color: #999;
  font-size: 12px; }

.createdmagnifico {
  margin-top: 15px; }

.page-agendar-consulta {
  margin-top: 15px; }
  @media (max-width: 782px) {
    .page-agendar-consulta {
      margin-top: 0; } }

#specialists {
  padding: 30px 0; }
  #specialists .especilidade {
    min-height: 300px; }
    #specialists .especilidade:last-child {
      border-bottom: 0;
      margin-bottom: 0; }
    #specialists .especilidade header {
      min-height: 45px;
      margin-top: 20px; }
      @media (max-width: 768px) {
        #specialists .especilidade header {
          display: block;
          text-align: center; } }
    #specialists .especilidade h2 {
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 0;
      margin-top: 0; }
    #specialists .especilidade p {
      margin-bottom: 0; }
  #specialists .doutor {
    text-align: center;
    cursor: pointer;
    background: #FFF;
    padding-bottom: 20px;
    max-width: 160px;
    margin: 0 auto;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s; }
    #specialists .doutor img {
      margin-bottom: 10px; }
    #specialists .doutor:hover {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.39); }

#exibetelefone {
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  background: #0875aa;
  color: #FFF; }

#content-contato {
  height: auto;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

#header {
  width: 100%;
  display: block;
  padding: 50px 0;
  color: #FFF;
  text-align: center; }
  #header h1 {
    font-size: 48px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700; }

#calltoaction p {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  font-size: 18px; }

.formWrapper {
  text-align: center; }
  .formWrapper h2 {
    color: #00b597;
    margin-bottom: 30px;
    font-size: 32px; }

#content-contato-page {
  width: 100%;
  padding: 50px 0;
  background: #FFF; }

#slider {
  width: 100%;
  height: 400px;
  position: relative; }

#slider .owl-nav {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%; }

#slider .owl-nav .owl-prev {
  left: 10px;
  position: absolute; }

#slider .owl-nav .owl-next {
  right: 10px;
  position: absolute; }

#slider .owl-nav .owl-prev,
#slider .owl-nav .owl-next {
  background: none;
  font-size: 24px;
  opacity: 0.8; }

#slider .owl-nav .owl-prev:hover,
#slider .owl-nav .owl-next:hover {
  opacity: 1; }

#slider .owl-dots {
  margin-top: 10px; }

#slider .owl-dots .owl-dot.active span,
#slider .owl-dots .owl-dot:hover span {
  background: #00b597; }

#depoimento {
  color: #FFF;
  padding: 40px 0;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  background: rgba(0, 0, 0, 0.5); }

#lista-vantagens {
  padding: 75px 0;
  background: #FFF; }
  #lista-vantagens h2 {
    display: block;
    text-align: center; }
  #lista-vantagens .item-vantagem {
    text-align: center;
    display: block;
    margin-top: 50px;
    min-height: 170px; }

@media (max-width: 768px) {
  #header h1 {
    font-size: 28px; }

  #calltoaction p {
    font-size: 16px; }

  #slider {
    height: auto; }

  #depoimento {
    font-size: 16px; } }
#doctor-wrapper {
  opacity: 0;
  position: fixed;
  bottom: -1px;
  right: 40px;
  z-index: 500; }
  #doctor-wrapper.animated {
    opacity: 1; }
  @media (max-width: 543px) {
    #doctor-wrapper {
      display: none; } }
  #doctor-wrapper #doctor-fixed {
    width: 77px;
    height: 101px;
    background-image: url("../images/doutor.svg");
    background-repeat: no-repeat;
    z-index: 1; }
  #doctor-wrapper #balao {
    opacity: 0;
    display: block;
    position: absolute;
    background: #FFF;
    padding: 10px;
    padding-left: 20px;
    left: -120px;
    bottom: 10px;
    z-index: -1;
    width: 150px;
    height: 60px;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.08); }
    #doctor-wrapper #balao a {
      color: #0875aa; }
    #doctor-wrapper #balao.animated {
      opacity: 1; }
  #doctor-wrapper #close-box {
    width: 15px;
    height: 15px;
    display: block;
    background: url("../images/close.svg");
    position: absolute;
    cursor: pointer;
    top: -7px;
    left: -7px; }

.galleria-theme-classic {
  background: #EEE !important; }

.galleria-theme-classic .galleria-thumbnails .galleria-image {
  border: 1px solid #DDD !important; }

@media (max-width: 768px) {
  .form-contato {
    margin-top: 30px; } }
#photos-home {
  width: 100%;
  display: block;
  position: relative;
  background-color: #EEEEEE;
  color: #777; }
  #photos-home .col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  #photos-home article {
    padding: 60px; }
    #photos-home article h2 {
      color: #0875aa; }
    #photos-home article a {
      color: #FFF;
      background-color: #00b597;
      padding: 10px 30px; }
    @media (max-width: 768px) {
      #photos-home article {
        padding: 30px; } }
  #photos-home .owl-nav {
    position: absolute;
    bottom: 50%;
    margin-bottom: -36px;
    width: 100%;
    display: block;
    text-align: center; }
    #photos-home .owl-nav .owl-prev,
    #photos-home .owl-nav .owl-next {
      float: left;
      font-size: 36px;
      display: table;
      margin-left: 20px;
      color: #FFF; }
    #photos-home .owl-nav .owl-next {
      float: right;
      margin-right: 20px; }

.page-contato {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
